{% extends "layout.html" %}
{% load static %}

{% block page_title %}
Edit Course
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
           
            <form method="POST" novalidate enctype = "multipart/form-data">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="mb-3 {% if field.errors %} invalid {% endif %}">
                    {{ field.errors }}
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}

                <button class="btn btn-primary" type="submit">Kaydet</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block js_files %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
